.container {
  margin: 16px 0;
  max-width: 460px;
  align-self: center;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--text);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 135px 135px;
  gap: 6px 6px;
  align-items: center;
  text-align: left;
  font-variant-numeric: tabular-nums;
}

.grid > :nth-child(3n + 2) {
  padding-left: 36px;
}

.header {
  font-weight: 700;
  color: var(--text);
  text-align: left;
}

.label {
  text-align: left;
  font-weight: 600;
  color: var(--text);
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr 90px 90px;
    font-size: 12px;
  }
}
